/* Reset style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font:
        14px 'Lucida Grande',
        Helvetica,
        Arial,
        sans-serif;
    padding: 50px 50px 0 50px;
    min-height: 100vh;
    background-color: #f5f5f4;
}

.btn-primary {
    margin-top: 0.5rem;
    appearance: none;
    background-color: #575353;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow:
        rgba(27, 31, 35, 0.04) 0 1px 0,
        rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    color: #fafbfc;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, 'Segoe UI', Helvetica, Arial, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji';
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    padding: 6px 16px;
    position: relative;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: break-word;
}

.btn-primary:hover {
    background-color: black;
    color: white;
    text-decoration: none;
    transition-duration: 0.1s;
}

.btn-primary:active {
    background-color: rgb(76, 71, 71);
    color: white;
    box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
    transition: none 0s;
}

.btn-primary:focus {
    outline: 1px transparent;
}

footer {
    grid-column: 1/3;
    height: 2.5rem;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.reflink {
    width: 25px;
    text-align: center;
}

.github-img {
    width: 20px;
    height: 20px;
}

.github-img:hover {
    width: 25px;
    height: 25px;
}
/*
@media (max-width: 600px) {
  body {
      padding: 20px 20px 0 20px;
      grid-template-columns: 1fr;
      grid-template-rows: auto 1fr auto;
      row-gap: 1rem;
  }

  nav {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      grid-column: 1/2;
  }

  .content {
      grid-column: 2/3;
      grid-column: 1/2;
      padding-left: 0;
  }

  footer {
      grid-column: 3/4;
      grid-column: 1/2;
  }
}*/
