/* Reset style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font:
        14px 'Lucida Grande',
        Helvetica,
        Arial,
        sans-serif;
    padding: 0px 50px 0 50px;
    min-height: 100vh;
    background-color: #f5f5f4;
}

header {
    position: sticky;
    top: 0px;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f5f4;
    z-index: 10;
}

.header-title {
    background: linear-gradient(to right, #059669, #34d399, #5eead4);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    list-style: none;
}

header li a,
.join-btn {
    padding: 10px 15px;
    border-radius: 8px;
    font-weight: 700;
    color: black;
    text-decoration: none;
}

header li a:hover,
.join-btn:hover {
    cursor: pointer;
    background-color: #059669;
    color: white;
}

header li a:active,
.join-btn:active {
    background-color: #047857;
    box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
}

header li a:focus,
.join-btn:focus {
    outline: 1px transparent;
}

.content {
    flex: 1;
    margin: auto;
    padding-top: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-control {
    border: 1px solid black;
    border-radius: 4px;
    padding: 5px 10px;
}

label,
legend {
    font-weight: 700;
    font-size: 1.2rem;
}

fieldset {
    padding: 0.5rem;
}

.form-group-avatar {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 0.5rem;
}

input[type='radio'] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

input[type='radio'] + img {
    cursor: pointer;
    height: 4rem;
    width: auto;
    border-radius: 50%;
}

img {
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
}

.all-post-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.post-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
    border-radius: 20px;
    border: 3px solid transparent;
    border-image: linear-gradient(to right, #059669, #34d399, #5eead4) 30;
}

.user-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}

.message-wrapper {
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.message-title {
    font-size: 1.4rem;
    text-decoration: underline;
}

.message-text {
    flex: 1;
}

input[type='radio']:checked + img {
    outline: 3px solid #5eead4;
    box-shadow:
        rgba(0, 0, 0, 0.16) 0px 3px 6px,
        rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

input[type='radio'] + img:hover {
    opacity: 0.8;
}

.btn-primary {
    margin-top: 0.5rem;
    appearance: none;
    background-color: #575353;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow:
        rgba(27, 31, 35, 0.04) 0 1px 0,
        rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    color: #fafbfc;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, 'Segoe UI', Helvetica, Arial, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji';
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    padding: 6px 16px;
    position: relative;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: break-word;
}

.btn-primary:hover {
    background-color: black;
    color: white;
    text-decoration: none;
    transition-duration: 0.1s;
}

.btn-primary:active {
    background-color: rgb(76, 71, 71);
    color: white;
    box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
    transition: none 0s;
}

.btn-primary:focus {
    outline: 1px transparent;
}

.rule-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 20px;
}

.be-member-text {
    margin: auto;
    padding: 0.5rem 1rem 0.5rem 1rem;
    color: white;
    background-color: #059669;
    box-shadow:
        rgba(0, 0, 0, 0.12) 0px 1px 3px,
        rgba(0, 0, 0, 0.24) 0px 1px 2px;
    z-index: 10;
}

.add-message-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    padding: 1rem;
}

textarea,
#message-title {
    resize: none;
    padding: 8px;
    width: 15rem;
}

footer {
    grid-column: 1/3;
    height: 2.5rem;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.reflink {
    width: 25px;
    text-align: center;
}

.github-img {
    width: 20px;
    height: 20px;
}

.github-img:hover {
    width: 25px;
    height: 25px;
}

@media (max-width: 800px) {
    body {
        padding: 20px 20px 0 20px;
    }

    header {
        flex-direction: column;
        gap: 1rem;
    }

    .header-title {
        font-size: 1.4rem;
    }

    header li {
        padding: 4px 8px;
        border-radius: 4px;
    }

    .form-group-avatar {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        row-gap: 0.3rem;
    }
}
